<nav class="p-3 navbar">
    <ul class="nav nav-pills">
      <li *ngFor="let a of actions">
        <button 
        (click)="setCurrentaction(a)"  
        routerLink="{{a.route}}" 
        [class]="currentAction==a
        ?'btn btn-success ms-1':'btn btn-outline-success ms-1'"
        >
        {{a.title}}
          <i class="bi bi-{{a.icon}} text-success"></i></button>
      </li>
      <li>
      <div *ngIf="this.loadingService.isLoading$ | async" class="spinner-border text-primary ms-2" role="status">
      </div>
    </li>
    </ul>
    <ul class="nav nav-pills">
      <li *ngIf="appState.authState.isAuthenticated">{{appState.authState.username}}<button (click)="logout()" class="btn btn-success">Logout</button></li>
      <li *ngIf="!appState.authState.isAuthenticated"><button class="btn btn-success" (click)="login()">Login</button></li>
    </ul>
  </nav>